<h1>Состояние объектов Астраханского ОРТПЦ</h1>

<div id="list_objects">
	{{#each objects}}
	<div class="accordion">{{this}}</div>
	<div class="panel">
		<div class="flex-container">
			<div>
				<div>Door is open</div>
				{{{testHelpers 'Door is open'}}}
			</div>
			<div>
				<div>Fair</div>
				{{{testHelpers 'Fair'}}}
			</div>
			<div>
				<div>Network error</div>
				{{{testHelpers 'Network error'}}}
			</div>
			<div>
				<div>Door is open</div>
				{{{testHelpers 'Door is open'}}}
			</div>
			<div>
				<div>Fair</div>
				{{{testHelpers 'Fair'}}}
			</div>
			<div>
				<div>Network error</div>
				{{{testHelpers 'Network error'}}}
			</div>
			<div>
				<div>Door is open</div>
				{{{testHelpers 'Door is open'}}}
			</div>
			<div>
				<div>Fair</div>
				{{{testHelpers 'Fair'}}}
			</div>
			<div>
				<div>Network error</div>
				{{{testHelpers 'Network error'}}}
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{> script}}